body {
	background-color: #080808ff;
	color: #efefef;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#gridder {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-areas:
		"a b";
}

#canvas {
	grid-area: a;
}

#info {
	grid-area: b;
	margin: 1em 0 0 1em;
	white-space: nowrap;
	overflow: hidden;       /* prevents top <p> margin sticking up; also somehow stops list items from falling left if they could */
}

.team_0 {
	color: #ffcc66ff;
}

.team_1 {
	color: #00ccffff;
}

ul {
	padding: 0;             /* apparently this also removes the bullets */
	margin-top: 0;
	margin-bottom: 1em;
}
